.standard-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-label {
    display: block;
    color: var(--color-text-muted);
}

.form-textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}

.form-actions {
    display: flex;
    gap: 10px;
}

.btn-form-submit {
    align-self: flex-start;
}